@font-face {
  font-family: "iconfont"; /* Project id 3948807 */
  src: url('iconfont.woff2?t=1714903854303') format('woff2'),
       url('iconfont.woff?t=1714903854303') format('woff'),
       url('iconfont.ttf?t=1714903854303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-9Grids_video:before {
  content: "\e61f";
}

.icon-category:before {
  content: "\e63d";
}

.icon-shanchu:before {
  content: "\100b1";
}

.icon-juejin:before {
  content: "\e603";
}

.icon-huaban88:before {
  content: "\e61a";
}

.icon-daohang:before {
  content: "\e77d";
}

.icon-jianli:before {
  content: "\e609";
}

.icon-aixin:before {
  content: "\e648";
}

.icon-weixin:before {
  content: "\e600";
}

