@font-face {
  font-family: "iconfont"; /* Project id 3948807 */
  src: url('iconfont.woff2?t=1727104024249') format('woff2'),
       url('iconfont.woff?t=1727104024249') format('woff'),
       url('iconfont.ttf?t=1727104024249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zongrenshu:before {
  content: "\e61d";
}

.icon-huatongzhengzaifayanweifayan:before {
  content: "\e65a";
}

.icon-shijian:before {
  content: "\e7eb";
}

.icon-fangke:before {
  content: "\e85e";
}

.icon-diannao1:before {
  content: "\e75e";
}

.icon-xuexiao_xuexiaoxinxi:before {
  content: "\e661";
}

.icon-aihao:before {
  content: "\e604";
}

.icon-youxiang1:before {
  content: "\e908";
}

.icon-nianling1:before {
  content: "\e6a8";
}

.icon-ziyuan48:before {
  content: "\e605";
}

.icon-youxi:before {
  content: "\e637";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-weixin1:before {
  content: "\e607";
}

.icon-kaifa:before {
  content: "\e602";
}

.icon-gongju-quanqiugongzuoshijian:before {
  content: "\e727";
}

.icon-chengshi:before {
  content: "\e8ad";
}

.icon-9Grids_video:before {
  content: "\e61f";
}

.icon-category:before {
  content: "\e63d";
}

.icon-shanchu:before {
  content: "\100b1";
}

.icon-juejin:before {
  content: "\e603";
}

.icon-huaban88:before {
  content: "\e61a";
}

.icon-daohang:before {
  content: "\e77d";
}

.icon-jianli:before {
  content: "\e609";
}

.icon-aixin:before {
  content: "\e648";
}

.icon-weixin:before {
  content: "\e600";
}

